.comparison-table{
	width:100%;
}
.comparison-table td{
	background: #ccc;
}

.c-td-index{
	text-align:right;
}
.c-td-parsed, .c-td-enhanced{
	width: 500px;
	
}
#eval-note, #citation{
	width: 800px;
	height: 60px;
}

.hidden{
	display:none;
}
